@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@400;500;600;700;800;900&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding: 0 6%;
}

.botao {
  width: 100%;
  text-align: center;
  display: block;
  max-width: 350px;
  box-sizing: border-box;
  border: 1px solid white;
  padding: 1rem 2rem;
  border-radius: 5px;
}