.destaques {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 45.8125rem;
  background-color: var(--azul-claro);
}

.destaques_titulo {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--cinza-escuro);
  padding: 2.3125rem 0;
}

.destaques_paineis {}

.destaques_painel {}

.destaques_imagem {
  width: 100vw;
  max-width: 35.25rem;
  box-shadow: 0 2px 10px 5px #00000020;
}

.destaques_texto {
  box-sizing: border-box;
  min-width: 20.3125rem;
  height: 3.25rem;
  font-size: 1.1875rem;
  line-height: 1.1875rem;
  padding: 0.5rem 1.4375rem 0 1.4375rem;
  margin-bottom: 2.1875rem;
}

.destaques_botao {
  border-color: var(--vermelho-forte);
  color: var(--vermelho-forte);
  background-color: transparent;
  margin-bottom: 2rem;
}